body{
    margin: 10px 0 0 5px;
}

div{
    margin: auto;
    width:950px;
    text-align: center;
}

div p{
    
    text-align: left;
    height:23px;
    line-height: 23px;
    padding:5px 0 5px 15px;
    margin:0;
}

.all_div_infos p{
    
    padding:0 0 0 10px;
    
}

.div_exemple{
    background-color: rgba(51,154,16,0.3);
    margin-top:15px;
    margin-bottom:15px;
}

.div_information{
    background-color: rgba(0,98,230,0.3);
    margin-top:15px;
    margin-bottom:15px;
}

.paragraphe{
    margin:0 0 1px 0;
    padding: 2px;
}
